body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000701;
  color: #081b0a;
}

header {
  background: #35424a;
  color: #b51b1b;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #881c1c;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #35424a;
  color: #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
}

button {
  background-color: #35424a;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #0e120f;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9ecef; /* Light gray background */
}

header {
  background: #9f0d1b; /* Bootstrap primary color */
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
  padding: 20px;
  background: #ffffff; /* White background for sections */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(196, 193, 193, 0.1);
}

h2 {
  color: #aa141c; /* Heading color */
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #343a40; /* Dark gray background */
  color: #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
}

button {
  background-color: #d7caca; /* Green button */
  color: rgb(65, 4, 4);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
  background-color: #218838; /* Darker green on hover */
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
}

input:focus, textarea:focus {
  border-color: #a10303; /* Blue border on focus */
  outline: none; /* Remove default outline */
}